@media screen and (min-width: 1920px)
{
  form
  {
    width: 50%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
}

@media screen and (max-width: 1920px){
  
  form
  {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
}

.form
{
    display: flex;
    flex-wrap: wrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
}

fieldset
{
    width: 45%;
}