html, body, header, footer
{
    margin: 0px;
    background-color: #faefe1;
    white-space: nowrap;
}

h2, form
{
    margin: 1em;
}

header
{
    position: sticky;
    top: 0px;
    margin: 0px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0) 32%, transparent 100%), url("../img/13.jpg");
    background-size: cover;
    mix-blend-mode: multiply;
    padding: 20px;
}

.menu
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    color: #EA975B;
}

.menu h1
{
    font-size: 2.5em;
    margin: 15px 5px;
    text-shadow: 4px 1px 4px #E66C14;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.menu li
{
    display: inline;
}

.menu li a
{
    text-decoration: none;
    color: #EA975B;
    font-size: 1.5em;
    margin-right: 1%;
    padding: .2em;
}

.menu#selected a
{
    color: #f8e0c0;
}

fieldset
{
    width: 45%;
}

td label
{
    text-align: justify;
    
}

form
{
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar
{
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
}

.galeria
{
    float: left;
    width: 33%;
    margin: .2em;
    
}

.galeria img
{
    width: 95%;
}

/*
    Paleta colores
    #E66C14
    #663009
    #EA975B
    #664228
    #B35410
    #F8E0C0
*/