a
{
    text-decoration: none;
}
html, body, header, footer
{
    margin: 0px;
    background-color: #faefe1;
    white-space: nowrap;
}

h2, form
{
    margin: 1em;
}

header
{
    
    top: 0px;
    margin: 0px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0) 32%, transparent 100%), url("../img/menu.jpeg");
    background-size: cover;
    padding: 20px;
    position: sticky;
}

.menu
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    color: #EA975B;
    position: sticky;    
}

header a h1
{
    font-size: 2.5em;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    color: #EA975B;
    margin: 1%;
    margin-bottom: 0;
    text-shadow: 4px 1px 4px #E66C14;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}


.menu ul
{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.menu li
{
    margin-right: 1%;
}

.menu li a
{
    text-decoration: none;
    color: #EA975B;
    font-size: 1.5em;
}

.menu li a:hover
{
    text-shadow: 4px 1px 4px #E66C14;
}

.menu#selected a
{
    color: #f8e0c0;
}

td label
{
    text-align: justify;
    
}

::-webkit-scrollbar
{
    display: none;
}

@media only screen and (max-width: 700px)
{
    nav
    {
        display: none;
    }
    
}
/*
    Paleta colores
    #E66C14
    #663009
    #EA975B
    #664228
    #B35410
    #F8E0C0
*/